<html>
<head>
<style>
.block{
    margin-top:30px;
    max-height:200px;
    width:702px;
    left: 0px;
    border :2px solid black;
    font-style:italic;
    color: #fff;
  }
  
 </style>
 </head>
 <body>
<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="block">
<h4>Reviews</h4>
 <marquee direction="down" height="150px">Hi today I toking about choosing a best hotel I thing all hotels was good because every one hotel given a best because he wants to be profit in at hotel I thing everyone going to at in hotel I really like five stare hotel and seven star also like because five stare hotel give a best service and any type of thing was provided the five stare but seven stare hotel was Assam for every thing. I hope you like this comment thank you.-Mark"<br><br><br>

"I would love to share some tips for choosing the best hotel first of all I would request you to choose the perfect destination hotels with pool and resturants and near by the beaches are one of the best but little more costlier due to beach access and if you are with family it is one of hotel near beaches will make your holiday perfect and if you are couple would love to select the hotel with sea face view garden facing like pool and suite rooms category which will be at its best for the couple to enjoy and hotel with pub and lounge. thanks"-Suchitra<br><br><br>

"Hello friends,

I am going to share my personal experience about how to choose best hotel in a good cheap price with good facility?

If you required hotel in every months in different city. Best hotel search is very easy because this time is internet time and got detail of all hotel on mobile or laptop. First of all search your location, you want to stay. you open Oyorooms, Travel my trip etc. and compare in all website or apps and selected your hotels.

I am owner of a business and I travel in different city in every month. I search many hotels on different apps and compare its price and facility and finally book in cheap price.

Thanks."-Priyanka<br><br><br>
"Excellent! 5/5"-Aravind A<br><br><br>
"This stay was incredible due to the overall outstanding service and friendliness of the great staff. 
We were greeted by each member of the staff each time we encountered them from the front desk staff, to the cleaning ladies, to the breakfast staff. 
Each person went out of their way to make us feel at home. The rooms were extremely clean and the overall hotel was exceptional. 
It is in an ideal location to food, shopping, and entertainment."-Eric<br><br><br>
</marquee>
</div>
</body>
</html>